<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,292},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
                   <key>bird2.png</key>
                        <dict>
                            <key>frame</key>
                            <string>{{144,292},{34,24}}</string>
                            <key>offset</key>
                            <string>{0,0}</string>
                            <key>rotated</key>
                            <false/>
                            <key>sourceColorRect</key>
                            <string>{{0,0},{34,24}}</string>
                            <key>sourceSize</key>
                            <string>{34,24}</string>
                        </dict>
                               <key>bird3.png</key>
                                    <dict>
                                        <key>frame</key>
                                        <string>{{178,292},{34,24}}</string>
                                        <key>offset</key>
                                        <string>{0,0}</string>
                                        <key>rotated</key>
                                        <false/>
                                        <key>sourceColorRect</key>
                                        <string>{{0,0},{34,24}}</string>
                                        <key>sourceSize</key>
                                        <string>{34,24}</string>
                                    </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{192,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>result.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{226,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,114}}</string>
                <key>sourceSize</key>
                <string>{226,114}</string>
            </dict>
            <key>startlogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{188,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,51}}</string>
                <key>sourceSize</key>
                <string>{188,51}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,192},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flappy.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78f3010a677963e95b034f1de859818e:1ac704e2b611ee40e7fede497f6e9e97:98da1ea320b24740dddab6c1e48b9381$</string>
            <key>textureFileName</key>
            <string>flappy.png</string>
        </dict>
    </dict>
</plist>
